@import './clock.css';
@import './navigation.css';
@import './about.css';
@import './characters.css';
@import './buy.css';

html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(32, 32, 32);
  margin: 0;
}